{% block html_header %}
	{% include 'html-header.twig' %}
{% endblock %}

	<body class="{{body_class}} page-{{ post.slug }}" data-template="base.twig">
		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}

		{% block content %}
			<p>
				Sorry, no content is available...
			</p>
		{% endblock %}

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}

		{% block html_footer %}
			{% include 'html-footer.twig' %}
		{% endblock %}
	</body>
</html>
