{% extends 'base.twig' %}

{% block content %}

{% if errors %}
  <p>
    {{ errors.login_form }}
  </p>
{% endif %}

<form method="POST">
  <input type="hidden" name="login_token" value="1" placeholder="DO NOT FILL THIS OUT!" />
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Login" />
  {% if vars.include_captcha %}
    <div class="g-recaptcha" data-sitekey="6LfP-y4UAAAAAOTXuF8s2UKzkTD6efOGMa9hUmA-"></div>
  {% endif %}
</form>

{% endblock %}
