{% extends "base.twig" %}

{% block content %}
<!--<h1>STUDENT OVERVIEW PAGE</h1>-->
	<div class="profile-overview">
        <h2>[USER NAME]</h2>
        <img src="http://via.placeholder.com/200x250">
        <h4>Level 18</h4>
    </div>

    <div class="subject-overview">
        <p>Subject 1</p>
        <p>Subject 2</p>
        <p>Subject 3</p>
        <p>Subject 4</p>
    </div>

    <div class="quests-overview">  
        <p>Sample quest</p>
        <p>Sample quest</p>
        <p>Sample quest</p>
        <p>Sample quest</p>
    </div>

    <div class="notices-overview">
        <p>Notice 1</p>
        <p>Notice 2</p>
        <p>Notice 3</p>
        <p>Notice 4</p>
    </div>

    <div class="rewards-overview">
        <p>Unlock Crate</p>
        <p>Badge Progress</p>
        <p>Unlocked Items</p>
        <p>Locked Items</p>
    </div>
{% endblock %}
